#logo {
    width: 100px;
    height: 100px;
    padding: 20px 0px 0px 10px;
}

#main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#title {
    font-size: 100px;
    color: black;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    text-shadow: 2px 2px #ff0000;
}

#search-bar-Light {
    width: 300px;
}

#search-bar-Dark {
    background: azure;
    width: 300px;
}

#color-toggle-button {
    float: right;
    margin: 20px 10px 0px 0px;
}

#title-section {
    text-align: center;
}